/* Start Global Rules */
:root{
    --main-color:#19c8fa;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
    background-color: #777;
}
ul{
    list-style: none;
}

.container{
    margin:0 auto;

    padding: 0 15px;
    
}
/* mobile Screen */
@media (max-width:767px){
    
}
/* Small Screen */
@media (min-width:768px){
    .container{
        width: 750px;
    }
    
}
/* Medium Screen */
@media (min-width:992px){
    .container{
        width: 970px;
    }

}
/* Large Screen */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* End Global Rules */

/* Start header  */
header{

}
header .container{
    display: flex;
    align-items: center;
    height: 100px;
    position: relative;
}
header .container::after{
    content: '';
    height: 1px;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    position: absolute;
    bottom: 0;
    z-index: -1;

}
header .container a:first-child img{
    height: 40px;
}
header .container nav{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul{
    display: flex;
    justify-content: flex-end;

    align-items: center;
    
    height: 100%;
}
header .container nav i{
    display: none;
}
nav ul li{
    padding:  0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    transition: 0.5s color , 0.5s border-bottom;
    position: relative;
    
}
nav ul li:hover{
    color: var(--main-color);
    border-bottom: 1px var(--main-color) solid;
}
nav ul li[active]{
    color: var(--main-color);
    border-bottom: 1px var(--main-color) solid;
}
nav ul li a{
    text-decoration: none;
    color: inherit;
    font-size: 15px;
}
header .form{
    padding:5px 0 5px 20px;
    border-left: 1px white solid;
    margin-left: 30px;
    
}
header .form i{
    font-size: 20px;
    color: white;
}
@media (max-width:767px){
    header .container nav ul{
        display: none;
    }
    header .container nav i{
        display: block;
        color: white;
        font-size: 25px;
        
    }
    header nav ul li{
        width: 100%;
        padding: 15px;
    }
    header .container nav i:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,50%);
        margin-top: 1px;
        height: fit-content;
    }
}
/* End header */